@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-roman.latin.var.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter var';
  font-style: italic;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-italic.latin.var.woff2) format('woff2');
  font-named-instance: 'Italic';
}

body {
  font-family: 'Inter var', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: subpixel-antialiased;
  font-feature-settings: 'case' 1, 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02',
    'cv03' 1, 'cv04' 1;
  font-variation-settings: 'wght' 450;
  font-variant: common-ligatures contextual;
  letter-spacing: -0.02em;
}
b,
strong,
h3,
h4,
h5,
h6 {
  font-variation-settings: 'wght' 650;
}
h1 {
  font-variation-settings: 'wght' 850;
}
h2 {
  font-variation-settings: 'wght' 750;
}

@media screen and (min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

details summary {
  cursor: pointer;
}

img.next-image {
  margin: 0;
}

.dicon {
  margin:5px;
}

.dark .ghub {
  filter: invert(1);
}
.prose a {
  color: #0074de;
}

.nav-line .nav-link {
  color: #69778c;
}

.avatar-container{
  height: 128px;
  width:128px;
  position: relative;
}
.plug-avatar {
  border-radius: 100%;
}
.indicator {
  position: absolute;
  height:25px;
  width:25px;
  border-radius: 100%;
  top:78%;
  left: 75%
}

.dnd {
  background-color:#F04747;
}
.online {
  background-color: #43B581;
}
.idle {
  background-color: #FAA61A;
}
.offline {
  background-color: #707B88;
}
.glyphon-dnd {
  position: absolute;
  height:5px;
  width:15px;
  border-radius: 10%;
  background-color: #292B2F;
  top:86%;
  left: 79%
}

.glyphon-idle {
  position: absolute;
  height:15px;
  width:15px;
  border-radius: 100%;
  box-shadow: 4px 5.5px 0 0.5px white  ;
  top:78%;
  left: 75%
}
.glyphon-offline {
  position: absolute;
  height:12px;
  width:12px;
  border-radius: 100%;
  background-color: #292B2F;
  top:83.5%;
  left: 80.5%  
}
